<app-page-header
    section="Master Entry"
    page="Fee Type Entry"
    subtitle="Maintain reusable fee categories in the standard entry layout.">
</app-page-header>
<form [formGroup]="feeTypeForm" (ngSubmit)="submit()" class="p-fluid">
    <div class="formgrid grid">

        <div class="field col-6">
            <label class="form-label">Fee Type</label>
            <input type="text" pInputText formControlName="name" />
        </div>


        <div class="field col-6">
            <label class="form-label d-block mb-2">Recurring</label>
            <div class="switch-container">
                <p-inputSwitch formControlName="isRecurring"></p-inputSwitch>
            </div>
        </div>

        <div class="field col-6">
            <label class="form-label">Frequency</label>
            <input type="text" pInputText formControlName="frequency" />
        </div>

        <div class="col-12 text-right mt-2">
            <button type="submit" pButton [label]="submitButtonLabel" class="p-button-success" [disabled]="feeTypeForm.invalid || isSubmitted">
            </button>
        </div>

    </div>
</form>
<div class="card">
    <p-table [value]="feeTypes" styleClass="app-grid-table" dataKey="id" editMode="row" [paginator]="true" [rows]="15"
        [rowsPerPageOptions]="[15, 30, 50]" [scrollable]="true" scrollHeight="34rem" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Recurring</th>
                <th>Frequency</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex" let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="row">
                <td>{{ rowIndex + 1 }}</td>
                <td>{{ row.name }}</td>
                <td>{{row.isRecurring }}</td>
                <td>{{row.frequency}}</td>
                <td><i pTooltip="edit" class="pi pi-pencil" (click)="editFeeType(row)"></i></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5" class="text-center">No records found</td>
            </tr>
        </ng-template>
    </p-table>
</div>
