<div id="print-section" class="certificate-container">
  <div class="outer-border">
    <div class="certificate-main">
      <div class="left-maroon"></div>
      <div class="top-maroon"></div>
      <div class="right-maroon"></div>
      <div class="bottom-maroon"></div>
      <div class="gold-border">
        <div class="watermark">OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH
          SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
        </div>
        <div class="inner-left-gold"></div>
        <div class="inner-top-gold"></div>
        <div class="inner-right-gold"></div>
        <div class="inner-top-gold"></div>
        <div class="inner-bottom-gold"></div>
        <div class="content-wrapper">

        </div>
        <div class="header">
          <span>Reg. No. 30440/061-62</span>
          <span>Pan: 301779326</span>
          <span>School Code - 177176</span>
        </div>
        <div class="logo-section">
          <!-- <div class="logo">LOGO</div> -->
          <img src="assets/Om Pushpanjali logo.jpg" alt="School Logo" class="school-logo" />
          <div class="school-info">
            <div class="school-name">OM PUSHPANJALI ENGLISH SCHOOL</div>
            <div class="school-subtitle">(JUBIE INTERNATIONAL ENGLISH ACADEMY)</div>
            <div class="school-address">DODHARA CHANDANI - 7, KANCHANPUR<br>SUDURPASCHIM PRADESH</div>
            <div class="badge-container">
              <div class="certificate-badge">CHARACTER CERTIFICATE</div>
            </div>
          </div>
        </div>
        <div class="cc-number">C.C No.03</div>
        <div class="certificate-body">
          <p class="certificate">
            <span class="first-line-space">This is to certify that Mr./Miss</span>
            <span class="fill-in">{{ studentName }}</span>Son/Daughter of Mr./Mrs
            <span class="fill-in">{{ fatherName }},</span>
            resident of <span class="fill-in">{{ address }},</span>
            was a regular student of this school and passed the<span class="fill-in">{{ examName }}</span>Examination of Grade
            <span class="fill-in">{{ grade }},</span>held in the Year
            <span class="fill-in">{{ bsYear }}</span>B.S.
            <span class="fill-in">{{ adYear }}</span>A.D in
            <span class="fill-in">{{ gpa }}</span>GPA.
            <br>
            <span class="first-line-space">To the best of our knowledge, he/she bears a good moral character and his/her
              conduct was good while he/she was at school.</span>
          </p>
        </div>

        <div class="footer">
          <div class="footer-left">
            <div><em>Registration No :</em> <span class="fill-in"></span></div>
            <div><em>Symbol No :</em> <span class="fill-in">22</span></div>
            <div><em>Batch Year:</em> <span class="fill-in">2081</span></div>
            <div><em>Date of Issue:</em> <span class="fill-in">2082-03-24</span></div>
          </div>
          <div class="footer-right">
            <div class="signature-section">
              <div class="signature-line"></div>
              <div><em>Written by</em></div>
            </div>
            <div class="signature-section">
              <div class="signature-line"></div>
              <div><em>Principal</em></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>