<app-page-header
    section="Exams"
    page="Student Exam Setup"
    subtitle="Prepare registration and symbol numbers for enrolled students.">
</app-page-header>
<div class="grid mb-3">
    <div class="col-6 md:col-4">
        <p-dropdown [options]="classRooms" optionLabel="name" optionValue="id" (onChange)="onClassRoomChange($event)"
            placeholder="Select Class" [style]="{ width: '100%' }">
        </p-dropdown>
    </div>

    <div class="col-6 md:col-4">
        <p-dropdown [options]="sections" optionLabel="name" optionValue="classSectionId"
            (onChange)="onClassSectionChange($event)" [disabled]="!isClassSelected" placeholder="Select Section"
            [style]="{ width: '100%' }">
        </p-dropdown>
    </div>
</div>

<div class="card">
    <form [formGroup]="studentExamSetupForm">
        <p-table [value]="enrolledStudents" styleClass="app-grid-table" editMode="row" [paginator]="true" [rows]="15"
            [rowsPerPageOptions]="[15, 30, 50]" [scrollable]="true" scrollHeight="34rem"
            [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Registration Number</th>
                    <th>Symbol Number</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-student let-rowIndex="rowIndex" let-editing="editing">
                <tr [pEditableRow]="student">
                    <td>{{ rowIndex + 1 }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.class }}</td>
                    <td [formGroup]="getFormGroupAt(rowIndex)">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" formControlName="registrationNumber" required />
                            </ng-template>
                            <ng-template pTemplate="output">
                                <input pInputText type="text" formControlName="registrationNumber" required />
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td [formGroup]="getFormGroupAt(rowIndex)">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" formControlName="symbolNumber" required />
                            </ng-template>
                            <ng-template pTemplate="output">
                                <input pInputText type="text" formControlName="symbolNumber" required />
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <div class="app-grid-actions">
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                (click)="onRowEditInit(student.id, rowIndex)" class="p-button-text app-grid-action-btn">
                            </button>
                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                                (click)="onRowEditSave()" class="p-button-text app-grid-action-btn app-grid-action-success">
                            </button>
                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                                (click)="onRowEditCancel()" class="p-button-text app-grid-action-btn app-grid-action-danger">
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </form>
</div>
