<p-toast></p-toast>
<h2 class="mb-4">Register Course</h2>
<form [formGroup]="courseForm" (ngSubmit)="submit()" class="p-fluid">
    <div class="formgrid grid">

        <div class="field col-6">
            <label>Course Name</label>
            <input type="text" pInputText formControlName="name" />
        </div>
        <div class="col-12 text-right mt-2">
            <button type="submit" pButton [label]="submitButtonLabel" class="p-button-success"
                [disabled]="courseForm.invalid || isSubmitted"></button>
        </div>
    </div>
</form>

<div class="card">
    <p-table [value]="courses" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[10, 20, 30]">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Course Name</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-course let-rowIndex="rowIndex">
            <tr>
                <td>{{ rowIndex + 1 }}</td>
                <td>{{ course.name }}</td>
                <td>
                <td><i pTooltip="edit" class="pi pi-pencil" (click)="editCourse(course)"></i></td>
            </tr>
        </ng-template>
    </p-table>
</div>