<!-- src/app/components/student-form/student-form.component.html -->

<h2 class="mb-4">Register Student</h2>

<form [formGroup]="studentForm" (ngSubmit)="addStudent()" class="p-fluid">
  <div class="formgrid grid">

    <div class="field col-6">
      <label>First Name</label>
      <input type="text" pInputText formControlName="firstName" />
    </div>

    <div class="field col-6">
      <label>Last Name</label>
      <input type="text" pInputText formControlName="lastName" />
    </div>

    <div class="field col-6">
      <label>Grandfather Name</label>
      <input type="text" pInputText formControlName="grandFatherName" />
    </div>

    <div class="field col-6">
      <label>Father Name</label>
      <input type="text" pInputText formControlName="fatherName" />
    </div>

    <div class="field col-6">
      <label>Mother Name</label>
      <input type="text" pInputText formControlName="motherName" />
    </div>

    <div class="field col-6">
      <label>Gender</label>
      <p-dropdown [options]="genders" formControlName="gender" placeholder="Select Gender"></p-dropdown>
    </div>

    <div class="field col-6">
      <label>Age</label>
      <input type="number" pInputText formControlName="age" />
    </div>

    <div class="field col-6">
      <label>Contact Number</label>
      <input type="text" pInputText formControlName="contactNumber" />
    </div>

    <div class="field col-6">
      <label>Address</label>
      <input rows="3" pInputText formControlName="address" />
    </div>

    <div class="field col-6">
      <label>Date Of Birth</label>
      <p-calendar formControlName="dob" />
    </div>

    <div class="field col-6">
      <label>Municipality</label>
      <input rows="3" pInputText formControlName="municipality" />
    </div>

    <div class="field col-6">
      <label>Ward No</label>
      <input rows="3" pInputText formControlName="wardNo" />
    </div>

    <div class="field col-6">
      <label>Class Room</label>
      <p-dropdown [options]="classRooms" optionLabel="name" optionValue="id" (onChange)="onClassRoomChange($event)"
        placeholder="Select Class"></p-dropdown>
    </div>

    <div class="field col-6">
      <label>Section</label>
      <p-dropdown [options]="sections" optionLabel="name" optionValue="sectionId" (onChange)="onSectionChange($event)"
        placeholder="Select Section"></p-dropdown>
    </div>

    <div class="col-12 text-right mt-2">
      <button type="submit" pButton label="Register" class="p-button-success" [disabled]="studentForm.invalid"></button>
    </div>
  </div>
</form>