<div id="print-section" class="certificate-container">
  <div class="outer-border">
    <div class="certificate-main">
      <div class="left-maroon"></div>
      <div class="top-maroon"></div>
      <div class="right-maroon"></div>
      <div class="bottom-maroon"></div>
      <div class="gold-border">
        <div class="watermark">OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH
          SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
          OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL OM PUSHPANJALI
          ENGLISH SCHOOL OM PUSHPANJALI ENGLISH SCHOOL
        </div>
        <div class="inner-left-gold"></div>
        <div class="inner-top-gold"></div>
        <div class="inner-right-gold"></div>
        <div class="inner-top-gold"></div>
        <div class="inner-bottom-gold"></div>
        <div class="content-wrapper">

        </div>
        <div class="header">
          <span>Reg. No. 30440/061-62</span>
          <span>Pan: 301779326</span>
          <span>School Code - 177176</span>
        </div>
        <div class="logo-section">
          <!-- <div class="logo">LOGO</div> -->
          <img src="assets/Om Pushpanjali logo.png" alt="School Logo" class="school-logo" />
          <div class="school-info">
            <div class="school-name">OM PUSHPANJALI ENGLISH SCHOOL</div>
            <div class="school-subtitle">(JUBIE INTERNATIONAL ENGLISH ACADEMY)</div>
            <div class="school-address">DODHARA CHANDANI - 7, KANCHANPUR<br>SUDURPASCHIM PRADESH</div>
            <div class="badge-container">
              <div class="certificate-badge">TRANSFER CERTIFICATE</div>
            </div>
          </div>
        </div>
        <div class="cc-number">T.C No.{{serialNumber}}</div>
        <div class="certificate-body">
          <p class="certificate">
            <span class="first-line-space">This is to certify that on the completion of all the requirements of all the
              course prescribed by the English Medium School</span>
            Mr./Mrs<span class="fill-in">{{ studentObj.name }}</span>R.N<span class="fill-in">22</span>the inhabitant
            of<span class="fill-in">{{studentObj.address}}</span>
            was admitted in this school in<span class="fill-in">{{studentObj.admittedYear}}</span>B.S. in class <span
              class="fill-in">{{studentObj.firstAdmittedClass}}</span>and studied in this school up to<span class="fill-in">{{studentObj.academicYear}}</span>B.S.
            in class<span class="fill-in">{{studentObj.classRoom}}</span>.He/She duly passed/failed in<span class="fill-in">{{studentObj.gpa}}</span>GPA.
            His/Her date of birth according to school record is<span class="fill-in">{{studentObj.dateOfBirth}}</span>B.S. His character
            was<span class="fill-in">Good</span> while at school.
            <br>
            <span class="first-line-space">To the best of our knowledge, he/she bears a good moral character and his/her
              conduct was good while he/she was at school.</span>
          </p>
        </div>

        <div class="footer">
          <div class="footer-left">
            <div><em>Registration No :</em> <span class="fill-in">{{studentObj.registrationNumber}}</span></div>
            <div><em>Symbol No :</em> <span class="fill-in">{{studentObj.symbolNumber}}</span></div>
            <div><em>Batch Year:</em> <span class="fill-in">{{studentObj.academicYear}}</span></div>
            <div><em>Date of Issue:</em> <span class="fill-in">{{studentObj.issueDate}}</span></div>
          </div>
          <div class="footer-right">
            <div class="signature-section">
              <div class="signature-line"></div>
              <div><em>Written by</em></div>
            </div>
            <div class="signature-section">
              <div class="signature-line"></div>
              <div><em>(Pushpa Kumari Kshetri)</em><br><em>Principal</em></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>