.card{
    width: 100%;
    height: 100%;
}

.CourseSearchBar{
    margin-left: 57.8rem;
}

::ng-deep .p-speeddial-button.p-button.p-button-icon-only {
    color: black;
    background-color: #ffffff;
    border: none;
    width: 2rem;
    height: 2rem;
}
