<p-toast></p-toast>
<app-page-header
    section="Fees"
    page="Class Fee Setup"
    subtitle="Map fee master data to class-wise amounts for the active academic year.">
</app-page-header>
<div class="manage-fee-page">
    <p-toolbar styleClass="manage-fee-toolbar">
        <div class="p-toolbar-group-start manage-fee-filter">
            <div class="field">
                <label for="classId">Class</label>
                <p-dropdown
                    inputId="classId"
                    [options]="classOptions"
                    optionLabel="name"
                    optionValue="id"
                    [(ngModel)]="selectedClassId"
                    appendTo="body"
                    placeholder="Select Class"
                    (onChange)="onClassChange()">
                </p-dropdown>
            </div>
            <div class="field">
                <label>Academic Year</label>
                <input type="text" pInputText [value]="currentAcademicYearName" readonly />
            </div>
            <div class="field filter-action">
                <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-search"
                    label="Load"
                    [disabled]="!selectedClassId"
                    (click)="loadSelectedClassFeeStructures()">
                </button>
            </div>
        </div>

        <div class="p-toolbar-group-end">
            <button
                pButton
                pRipple
                type="button"
                icon="pi pi-plus"
                label="New"
                class="p-button-success"
                pTooltip="Add New Row"
                (click)="addNewRow()"
                [disabled]="!isClassSelected">
            </button>
        </div>
    </p-toolbar>

    <div class="card app-page-table-card manage-fee-table-card">
        <form [formGroup]="feeStructureForm">
            <p-table
                #feeStructureTable
                [value]="feeStrucures"
                styleClass="app-grid-table"
                [paginator]="true"
                [rows]="15"
                [rowsPerPageOptions]="[15, 30, 50]"
                [scrollable]="true"
                scrollHeight="flex"
                paginatorDropdownAppendTo="body"
                [tableStyle]="{ 'min-width': '54rem' }"
                [globalFilterFields]="['feeType', 'amount', 'description', 'academicYearName']">
                <ng-template pTemplate="caption">
                    <span class="p-input-icon-left app-page-search" *ngIf="feeStrucures.length > 0">
                        <i class="pi pi-search"></i>
                        <input #feeStructureSearch type="text" pInputText placeholder="Search grid..."
                            (input)="feeStructureTable.filterGlobal(feeStructureSearch.value, 'contains')" />
                    </span>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Id</th>
                        <th>Fees Type</th>
                        <th>Applicability</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    <tr *ngIf="isNewRow || isUpdateRow">
                        <td></td>
                        <td>
                            <p-dropdown formControlName="feeTypeId" [options]="selectableFeeTypes" optionLabel="name"
                                optionValue="id" appendTo="body" placeholder="Select Fee Type" />
                        </td>
                        <td></td>
                        <td>
                            <input type="number" formControlName="amount" pInputText placeholder="Amount" />
                        </td>
                        <td>
                            <input type="text" formControlName="description" pInputText placeholder="Description" />
                        </td>
                        <td>
                            <div class="app-grid-actions">
                                <button pButton pRipple type="button" icon="pi pi-check" (click)="onRowSubmit()"
                                    class="p-button-text app-grid-action-btn app-grid-action-success">
                                </button>
                                <button pButton pRipple type="button" icon="pi pi-times" (click)="onRowCancel()"
                                    class="p-button-text app-grid-action-btn app-grid-action-danger">
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-feeStructure let-rowIndex="rowIndex">
                    <tr>
                        <td>{{ rowIndex + 1 }}</td>
                        <td>{{ feeStructure.feeType }}</td>
                        <td>{{ getApplicabilityLabel(feeStructure.applicability) }}</td>
                        <td>{{ feeStructure.amount }}</td>
                        <td>{{ feeStructure.description }}</td>
                        <td>
                            <div class="app-grid-actions">
                                <button pButton pRipple type="button" icon="pi pi-pencil" (click)="onRowEdit(feeStructure)"
                                    class="p-button-text app-grid-action-btn">
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6" class="text-center">No records found</td>
                    </tr>
                </ng-template>
            </p-table>
        </form>
    </div>
</div>
