<p-toast></p-toast>
<app-page-header
    section="Class Management"
    page="Manage Class"
    subtitle="Manage class-to-section mapping in a consistent grid layout.">
</app-page-header>
<form [formGroup]="classSectionFormGroup">
    <div class="card">
        <div class="table-container">
            <p-table [value]="classList" styleClass="app-grid-table" dataKey="id" editMode="row" [paginator]="true" [rows]="15"
                [rowsPerPageOptions]="[15,30,50]" [scrollable]="true" scrollHeight="34rem" paginatorDropdownAppendTo="body" [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Section</th>
                        <th>Room Number</th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-class let-rowIndex="rowIndex" let-editing="editing">
                    <tr [pEditableRow]="class">
                        <td>{{ rowIndex + 1 }}</td>
                        <td>{{ class.name }}</td>
                        <td [formGroup]="getFormGroupAt(rowIndex)">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-multiSelect [options]="sections" optionLabel="name" optionValue="sectionId"
                                        filer="false" formControlName="classSection" placeholder="Select Sections" appendTo="body" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <p-multiSelect [options]="sections" optionLabel="name" optionValue="sectionId"
                                        formControlName="classSection" filer="false" placeholder="Select Sections" />
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>{{ class.roomNumber }}</td>
                        <td>
                            <div class="app-grid-actions">
                                <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                                    icon="pi pi-pencil" (click)="onRowEditInit(class.id, rowIndex)"
                                    class="p-button-text app-grid-action-btn">
                                </button>
                                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow
                                    icon="pi pi-check" (click)="onRowEditSave()"
                                    class="p-button-text app-grid-action-btn app-grid-action-success">
                                </button>
                                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow
                                    icon="pi pi-times" (click)="onRowEditCancel()"
                                    class="p-button-text app-grid-action-btn app-grid-action-danger">
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</form>
